# Dossiers de build (CMake)
build/
bin/
out/

# Fichiers objets et exécutables compilés
*.o
*.out
*.exe
*.app
VoxelEngine

# Fichiers générés par CMake (en cas d'erreur à la racine)
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Fichiers générés par les IDE et éditeurs (VSCode, CLion, Vim, etc.)
.vscode/
.idea/
*.suo
*.user
*.swp
*~

# Fichiers de cache système
.DS_Store
Thumbs.db

# Roadmap
Roadmap_v3.md

# Documentation personnelle (uniquement à la racine)
/docs/

# Fichiers archivés
archive*
*.tar.gz

# Makefiles générés par les dépendances externes
external/glew-1.13.0/Makefile
external/glew-1.13.0/auto/Makefile